* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1 {
    display: flex;
    align-items: center;
}

.navbar__s2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar__s2 button {
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: medium;
    cursor: pointer;
}

.navbar__s2 button:hover{
    background-color: #F2F2F2;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signin-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.globel-btn {
    background-color: transparent;
    color: black;
    border: none;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globel-btn:hover{
    background-color: #F2F2F2;
}

.caption {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 30px;
}


.features{
    display: flex;
    justify-content: center;
}

.features__box{
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    text-decoration: none;
    color: #545454;
    cursor: pointer;
}

.features__box a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #545454;
}

/* search bar */

.search-bar{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar__container{
    display: flex;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    padding: px;
    border-radius: 30px;
    align-items: center;
}

.search-bar__container input{
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 500;
    margin-left: 10px;
}

.search-bar__container input:focus{
    outline: none;
}

.search-bar__btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    background-color: #34E0A1;
    cursor: pointer;
    margin: 5px;
}

.photo{
    display: flex;
    justify-content: center;
    position: relative;
}

.photo img{
    width: 1100px;
    height: 480px;
}

.beta{
    display: flex;
}

.beta p{
    color: white;
}

.beta p,button{
    margin-bottom: 10px;
}

.beta button{
    background-color: white;
    border: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-size: x-small;
    font-weight: 900;
    margin-left: 10px;
    border-radius: 2px;
}

.img-text{
    width: 30%;
    position: absolute;
    top: 50px;
    left: 200px;
}

.img-text h1{
    font-size: xx-large;
    color: white;
}

.img-text h4{
    color: white;
}

.tryit-btn{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    background-color: #DFD3EE;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catagories__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.catagories__img img{
    border-radius: 10px;
}

.catagories{
    margin: 40px;
}

.catagories__title{
    margin-left: 25px;
}

.video{
    display: flex;
    justify-content: center;
    
}

.destination__image{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.destination__img{
    width: 15%;
}

.destination__img img{
    border-radius: 10px;
}

.destination__title{
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.favel-travel__img img{
    height: 195px;
    border-radius: 10px;
}

.favel-travel__image{
    display: flex;
    gap: 30px;
}

.favel-travel{
    display: flex;
    justify-content: center;
}

.favel-travel__title{
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sponser__container{
    display: flex;
    gap: 20px;
    background-color: #F2ECF9;
    color: black;
    padding: 30px;
    width: 1100px;
    margin-top: 50px;
}

.sponser{
    display: flex;
    justify-content: center;
}

.sponser__title{
    display: flex;
    gap: 7px;
}

.explore-btn{
    background-color: black;
    border: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    margin-top: 20px;
}

.sponser__title{
    position: relative;
    left: 150px;
    margin-bottom: 10px;
}

.texts{
    position: relative;
    left: 60px;
    margin-bottom: 10px;
}

.explore-btn__container{
    position: relative;
    left: 160px;
}

.box-1{
    display: flex;
    align-items: center;

    gap: 170px;
}

.box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}

.box-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}

.box-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}

.trending-travel{
    display: flex;
    justify-content: center;
}